
@{
    ViewBag.Title = "YeniMusteriKayit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<link href="~/Content/Css/AdminPanel.css" rel="stylesheet" />
<body class="horizontal-menu">
    <nav id="column-left">
        <div id="profile">
            <div>
                <img src=@Url.Content("~/Companies/FirmaAnasayfa") alt="İstanbul Soft" title="demo" class="img-circle">
            </div>
            <div>
                <h4>İstanbul Soft</h4>
                <small>Yönetici</small>
            </div>
        </div>
        <ul id="menu">
            <li id="menu-dashboard">
                <a href=@Url.Content("~/Companies/FirmaAnasayfa")><i class="fa fa-home fw"></i> <span>Kontrol Paneli</span></a>
            </li>
            <li id="menu-order">
                <a class="parent"><i class="fa fa-briefcase fw"></i> <span>Sipariş Yönetimi</span></a>
                <ul>
                    <li>
                        <a href=@Url.Content("~/Companies/Siparisler")>Siparişler</a>
                    </li>
                    <li>
                        <a href=@Url.Content("~/Companies/IptalEdilenSiparisler")>İptal Edilenler</a>
                    </li>
                </ul>
            </li>
            <li id="menu-shops">
                <a class="parent"><i class="fa fa-users fw"></i> <span>Müşteri Yönetimi</span></a>
                <ul>
                    <li>
                        <a href=@Url.Content("~/Companies/Musteriler")>Müşteriler</a>
                    </li>
                    @*<li>
                            <a href="ActivePasifCompanies">Aktif - Pasif Mağazalar</a>
                        </li>*@
                </ul>
            </li>
            <li id="menu-customer">
                <a class="parent"><i class="fa fa-user fw"></i> <span>Çalışanlar ve Araçlar</span></a>
                <ul>
                    <li>
                        <a href=@Url.Content("~/Companies/AktifPasifCalısanlar")>Çalışanlar ve Araç Detayları</a>
                    </li>
                    <li>
                        <a href=@Url.Content("~/Companies/FirmaPersonelKayit")>Yeni Personel Kaydı</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div id="stats">
            <ul>
                <li>
                    <div>Tamamlanan Siparişler <span class="pull-right">4%</span></div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100" style="width: 4%"> <span class="sr-only">4%</span></div>
                    </div>
                </li>
                <li>
                    <div>Hazırlanan Siparişler <span class="pull-right">83%</span></div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100" style="width: 83%"> <span class="sr-only">83%</span></div>
                    </div>
                </li>
                <li>
                    <div>Diğer Durumlar <span class="pull-right">13%</span></div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="13" aria-valuemin="0" aria-valuemax="100" style="width: 13%"> <span class="sr-only">13%</span></div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> Müşteri Ekle</h3>
            </div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-general" data-toggle="tab">Müşteri Ekle</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-general">
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab-customer">
                                        <div class="form-group">
                                            <div class="col-sm-12" style="padding-left:19%;">
                                                <button class="tablink" onclick="openPage('Bireysel', this)" id="defaultOpen">Bireysel Müşteri</button>
                                                <button class="tablink" onclick="openPage('Kurumsal', this)" id="NoneDefault">Kurumsal Müşteri</button>
                                            </div>
                                        </div>
                                        <div id="Bireysel" class="tabcontent">
                                            <form action="#" method="post" id="form-customer" class="form-horizontal">
                                                <div class="form-group required">
                                                    <label style="color:#666666" class="col-sm-2 control-label" for="input-firstname">Adı-Soyad</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" name="firstname" value="" placeholder="Adı" id="input-name" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group required">
                                                    <label style="color:#666666" class="col-sm-2 control-label" for="input-email">E-Posta</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" name="email" value="" placeholder="E-Posta" id="input-email" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group required">
                                                    <label style="color:#666666" class="col-sm-2 control-label" for="input-telephone">Telefon</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" name="telephone" value="" placeholder="Telefon" id="input-telephone" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label  style="color:#666666"class="col-sm-2 control-label" for="input-fax">Faks</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" name="fax" value="" placeholder="Faks" id="input-fax" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group" style="padding-left:19%;">
                                                    <a href=@Url.Content("~/Companies/AdresEklemeHaritasi") id="addressAdd" style="text-align:center; margin-right:5px;" class="col-sm-3 btn-1 control-label" onclick="addAddress();"> Kaydet ve Adres Ekle</a>
                                                    <a style="text-align:center;" class="col-sm-2 btn-1 control-label">Kaydet ve Bitir</a>
                                                </div>
                                            </form>
                                        </div>
                                        <div id="Kurumsal" class="tabcontent">
                                            <form action="#" method="post" id="form-customer" class="form-horizontal">
                                                <div class="form-group required">
                                                    <label style="color:#666666" class="col-sm-2 control-label" for="input-firstname">Firma Adı</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" name="firstname" value="" placeholder="Firma Adı" id="input-name" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group required">
                                                    <label style="color:#666666" class="col-sm-2 control-label" for="input-email">E-Posta</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" name="email" value="" placeholder="E-Posta" id="input-email" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group required">
                                                    <label style="color:#666666" class="col-sm-2 control-label" for="input-telephone">Telefon</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" name="telephone" value="" placeholder="Telefon" id="input-telephone" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label style="color:#666666" class="col-sm-2 control-label" for="input-fax">Faks</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" name="fax" value="" placeholder="Faks" id="input-fax" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group" style="padding-left:19%;">
                                                    <a href=@Url.Content("~/Companies/AdresEklemeHaritasi") id="addressAdd" style="text-align:center; margin-right:5px;" class="col-sm-3 btn-1 control-label" onclick="addAddress();"> Kaydet ve Adres Ekle</a>
                                                    <a style="text-align:center;" class="col-sm-2 btn-1 control-label">Kaydet ve Bitir</a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    function openPage(pageName, elmnt) {
        // Hide all elements with class="tabcontent" by default */

        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        document.getElementById("defaultOpen").style.backgroundColor = "#555";
        document.getElementById("NoneDefault").style.backgroundColor = "#555";
        elmnt.style.backgroundColor = "#f5ab35";


        // Show the specific tab content
        document.getElementById(pageName).style.display = "block";
        //document.getElementById(elmn).style.backgroundColor = "#f5ab35";
    }
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>