
@{
    ViewBag.Title = "YeniMusteriKayit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<link href="~/Content/Css/AdminPanel.css" rel="stylesheet" />
<body class="horizontal-menu">
    <nav id="column-left">
        <div id="profile">
            <div>
                <img src=@Url.Content("~/Companies/FirmaAnasayfa") alt="İstanbul Soft" title="demo" class="img-circle">
            </div>
            <div>
                <h4>İstanbul Soft</h4>
                <small>Yönetici</small>
            </div>
        </div>
        <ul id="menu">
            <li id="menu-dashboard">
                <a href=@Url.Content("~/Companies/FirmaAnasayfa")><i class="fa fa-home fw"></i> <span>Kontrol Paneli</span></a>
            </li>
            <li id="menu-order">
                <a class="parent"><i class="fa fa-briefcase fw"></i> <span>Sipariş Yönetimi</span></a>
                <ul>
                    <li>
                        <a href=@Url.Content("~/Companies/Siparisler")>Siparişler</a>
                    </li>
                    <li>
                        <a href=@Url.Content("~/Companies/IptalEdilenSiparisler")>İptal Edilenler</a>
                    </li>
                </ul>
            </li>
            <li id="menu-shops">
                <a class="parent"><i class="fa fa-users fw"></i> <span>Müşteri Yönetimi</span></a>
                <ul>
                    <li>
                        <a href=@Url.Content("~/Companies/Musteriler")>Müşteriler</a>
                    </li>
                    @*<li>
                            <a href="ActivePasifCompanies">Aktif - Pasif Mağazalar</a>
                        </li>*@
                </ul>
            </li>
            <li id="menu-customer">
                <a class="parent"><i class="fa fa-user fw"></i> <span>Çalışanlar ve Araçlar</span></a>
                <ul>
                    <li>
                        <a href=@Url.Content("~/Companies/AktifPasifCalısanlar")>Çalışanlar ve Araç Detayları</a>
                    </li>
                    <li>
                        <a href=@Url.Content("~/Companies/FirmaPersonelKayit")>Yeni Personel Kaydı</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div id="stats">
            <ul>
                <li>
                    <div>Tamamlanan Siparişler <span class="pull-right">4%</span></div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100" style="width: 4%"> <span class="sr-only">4%</span></div>
                    </div>
                </li>
                <li>
                    <div>Hazırlanan Siparişler <span class="pull-right">83%</span></div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100" style="width: 83%"> <span class="sr-only">83%</span></div>
                    </div>
                </li>
                <li>
                    <div>Diğer Durumlar <span class="pull-right">13%</span></div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="13" aria-valuemin="0" aria-valuemax="100" style="width: 13%"> <span class="sr-only">13%</span></div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> Müşteri Ekle</h3>
            </div>
            <div class="panel-body">
                <form action="#" method="post" id="form-customer" class="form-horizontal">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-general" data-toggle="tab">Müşteri Ekle</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-general">
                            <div class="row">
                                <div class="col-sm-2">
                                    <ul class="nav nav-pills nav-stacked" id="address">
                                        <li class="active"><a href="#tab-customer" data-toggle="tab">Ekli Müşteriler</a></li>
                                        <li id="" onclick=""><a><i></i> Tunay Yılmaz</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-10">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab-customer">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="input-customer-group">Müşteri Grubu</label>
                                                <div class="col-sm-10">
                                                    <select name="customer_group_id" id="input-customer-group" class="form-control">
                                                        <option value="2">Bireysel Müşteri</option>
                                                        <option value="3">Kurumsal Müşteri</option>
                                                        <option value="1" selected="selected">Müşteri</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-firstname">Adı</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="firstname" value="" placeholder="Adı" id="input-firstname" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-lastname">Soyadı</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="lastname" value="" placeholder="Soyadı" id="input-lastname" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-email">E-Posta</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="email" value="" placeholder="E-Posta" id="input-email" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-telephone">Telefon</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="telephone" value="" placeholder="Telefon" id="input-telephone" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="input-fax">Faks</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="fax" value="" placeholder="Faks" id="input-fax" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-adress">Adres Bilgisi</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="adress" value="" placeholder="Adres Bilgisini Aşağıdan Ekleyebilirsiniz" id="input-adress" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <a href=@Url.Content("~/Companies/AdresEklemeHaritasi") id="addressAdd" class="col-sm-2 control-label" onclick="addAddress();"><i class="fa fa-plus-circle"></i>Adres Ekle</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
