
@{
    ViewBag.Title = "DenemeJquery";
}

<head>

    <meta charset="utf-8">
    <script src="jquery-3.4.1.min.js"></script>
</head>
<body>
    
    <button>Tunay</button>
    <div class="tny">Tunay yılmaz jquery</div>
        <script>
            $("button").click(function () {

            });
        </script>
    

</body>

