@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/System Js/GoogleMaps.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jguery/3.3.1/jquery.min.js"></script>
<script defer src="https://maps.googleapis.com/maps/api/js?libraries=places&language=en&key=AIzaSyC2pDmf7CKcQSZuRDLUmTMouoJD32sCVYs" type="text/javascript"></script>
<article>
    <!-- Banner --> 
    <section class="banner mask-overlay pad-120 white-clr">
        <div class="container theme-container rel-div">
            <img class="pt-10 effect animated fadeInLeft" alt="" src="assets/img/icons/icon-1.png" />
            <ul class="list-items fw-600 effect animated wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">
                <li><a href="#">hızlı</a></li>
                <li><a href="#">güvenli</a></li>
                <li><a href="#">evrensel</a></li>
            </ul>
            @*<h2 class="section-title fs-48 effect animated wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s"> <span> uygun fıyat </span> & <span> hızlı </span> <span class="theme-clr"> kargo </span>   </h2>*@
        </div>
        <div class="pad-50 visible-lg"></div>
    </section>
    <!-- /.Banner -->
    <!-- Track Product -->

    <section>
        <div class="theme-container container">
            <div class="row">
                <div class="col-md-12  track-prod clrbg-before wow slideInUp calculate pt-100 pad-80 about-wrap clrbg-before">
                    <div class="theme-container container">
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <img src="~/images/Courier-Man.png" alt="" class="wow slideInLeft" />
                            </div>
                            <div class="col-md-6">
                                <div class="pad-10">
                                </div><br />
                                <h2 class="section-title pb-10 wow fadeInUp"> kuryenizi çağırın </h2>
                                <p class="fs-16 wow fadeInUp">
                                    Anlık ve ileri zaman kargolarınız için hemen tokenizer planlayın.
                                </p>
                                <div class="calculate-form">
                                    <form id="distance_form" action="/Scripts/System Js/GoogleMaps.js">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <div class="col-sm-5"> <label class="title-2"> Konum Bilgileri : </label></div>
                                                <div class="col-sm-9">
                                                    <div class="form-group ">
                                                        <input id="from_places" class="form-control" placeholder="Nereden" />
                                                        <input id="origin" type="hidden" name="origin" required />
                                                    </div>
                                                    <div class="form-group ">
                                                        <input id="to_places" class="form-control" placeholder="Nereye" />
                                                        <input id="destination" type="hidden" name="destination" required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-9 col-xs-12 pull-left" style="display:none;" id="Km">
                                                <div class="btn-1">
                                                    <span> toplam mesafe : </span>
                                                    <span class="btn-1 dark">
                                                        <span id='in_kilo'></span> KM <span></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group wow fadeInUp">
                                                <div class="col-sm-4"> <label class="title-2"> Kargo Tipi : </label></div>
                                                <div class="col-sm-9">
                                                    <div class="form-group">
                                                        <select class=" form-control" title="Kargo Tipini Seçin" id="Kargo_Tipi">
                                                            <option value="KargoTip">Kargo Tipini Seçin</option>
                                                            <option value="Evrak">Evrak ve benzeri</option>
                                                            <option value="Koli">Koli ve benzeri</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div><br />
                                            <div class="dv-order-block-with-error col-sm-9" id="evrak_ozellikleri" style="display:none;">
                                                <div class="dv-order-tabs dv-order-tabs--horizontal ">
                                                    <div class="dv-order-tabs__tab dv-order-tabs__tab--active" style="text-align:center;">
                                                        <span class="dv-order-tabs__tab-label dv-order-tabs__tab-label--active">
                                                            0 - 1 kg
                                                        </span>
                                                    </div>
                                                    <div class="dv-order-tabs__tab" style="text-align:center;">
                                                        <span class="dv-order-tabs__tab-label">
                                                            1 - 5 kg
                                                        </span>
                                                    </div>
                                                    <div class="dv-order-tabs__tab" style="text-align:center;">
                                                        <span class="dv-order-tabs__tab-label">
                                                            5 - 10 kg
                                                        </span>
                                                    </div>
                                                    <div class="dv-order-tabs__tab" style="text-align:center;">
                                                        <span class="dv-order-tabs__tab-label">
                                                            10 - 15 kg
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dv-order-block-with-error col-sm-9" id="koli_ozellikleri" style="display:none;">
                                                <div class="dv-order-tabs dv-order-tabs--horizontal ">
                                                    <div class="dv-order-tabs__tab dv-order-tabs__tab--active col-sm-9" style="text-align:center;">
                                                        <span class="dv-order-tabs__tab-label dv-order-tabs__tab-label--active">
                                                            0 - 30 kg
                                                        </span>
                                                    </div>
                                                    <div class="dv-order-tabs__tab col-sm-9" style="text-align:center;">
                                                        <span class="dv-order-tabs__tab-label">
                                                            30 - 60 kg
                                                        </span>
                                                    </div>
                                                    <div class="dv-order-tabs__tab col-sm-9" style="text-align:center;">
                                                        <span class="dv-order-tabs__tab-label">
                                                            60 - 99 kg
                                                        </span>
                                                    </div>
                                                    <div class="dv-order-tabs__tab col-sm-9" style="text-align:center;">
                                                        <span class="dv-order-tabs__tab-label">
                                                            99-150 kg
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group wow fadeInUp" id="koli_ozellikleri" style="display:none;">
                                                <div class="col-sm-5"> <label class="title-2"> Kargo Özellikleri : </label></div>
                                                <div class="form-group wow fadeInUp">
                                                    <div class="col-sm-9"> <input type="text" placeholder="Yükseklik (cm)" class="form-control"> </div>
                                                </div>
                                                <div class="form-group wow fadeInUp">
                                                    <div class="col-sm-9"> <input type="text" placeholder="Genişlik (cm)" class="form-control"> </div>
                                                </div>
                                                <div class="form-group wow fadeInUp">
                                                    <div class="col-sm-9"> <input type="text" placeholder="Derinlik (cm)" class="form-control"> </div>
                                                </div>
                                                <div class="form-group wow fadeInUp">
                                                    <div class="col-sm-9"> <input type="text" placeholder="Ağırlık (kg)" class="form-control"> </div>
                                                </div>
                                            </div>
                                            <div class="form-group wow fadeInUp">
                                                <div class="col-sm-4"> <label class="title-2"> Kurye Tipi : </label></div>
                                                <div class="col-sm-9">
                                                    <div class="form-group">
                                                        <select class=" form-control" title="Kurye Tipini Seçin">
                                                            <option value="KuryeTip">Kurye Tipini Seçin</option>
                                                            <option value="Araba">Araba</option>
                                                            <option value="Motor">Motorsiklet</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group wow fadeInUp">
                                                <div class="col-sm-9 col-xs-12 pull-left">
                                                    <input class="btn-1" style="text-align:center;" type="submit" onclick="KmHesabi('Km')" value="Kuryenizi Bulun" />
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                    <script>
                                        function KmHesabi(Km) {
                                            var secilenID = document.getElementById(Km);
                                            if (secilenID.style.display == "none") {
                                                secilenID.style.display = "";
                                            } else {
                                                secilenID.style.display = "none";
                                            }
                                        }
                                    </script>
                                    @*<div id="result">
                                            <ul class="list-group">
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    mile
                                                    <span id="in_mile" class="badge badge-primary badge-pill"></span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    km
                                                    <span id='in_kilo' class="badge badge-primary badge-pill"></span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    in text
                                                    <span id="duration_text" class="badge badge-primary badge-pill"></span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    in minutes
                                                    <span id="duration_value" class="badge badge-primary badge-pill"></span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    from
                                                    <span id="from" class="badge badge-primary badge-pill"></span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    to
                                                    <span id="to" class="badge badge-primary badge-pill"></span>
                                                </li>
                                            </ul>
                                        </div>*@
                                </div>
                                <div class="pt-80 hidden-lg"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @*<section>
            <div class="theme-container container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 track-prod clrbg-before wow slideInUp" data-wow-offset="50" data-wow-delay=".20s">
                        <h2 class="title-1"> ÜRÜNÜNÜZÜ TAKİP EDİN </h2> <span class="font2-light fs-12">Artık ürününüzü kolayca takip edebilirsiniz</span>
                        <div class="row">
                            <form class="">
                                <div class="col-md-7 col-sm-7">
                                    <div class="form-group">
                                        <input type="text" placeholder="Ürün numaranızı girin" required="" class="form-control box-shadow">
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-5">
                                    <div class="form-group">
                                        <button class="btn-1">
                                            ürününüzü takip edin
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    <!-- /.Track Product -->
    <!-- Calculate Your Cost -->
    <br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br />
    <!-- Steps -->
    <section class="steps-wrap mask-overlay pad-80">
        <div class="theme-container container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="font-2 fs-50 wow fadeInLeft" data-wow-offset="50" data-wow-delay=".20s"> 1. </div>
                    <div class="steps-content wow fadeInLeft" data-wow-offset="50" data-wow-delay=".25s">
                        <h2 class="title-3">Çağır</h2>
                        <p class="gray-clr">Kuryenizi hemen çağırın </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="font-2 fs-50 wow fadeInLeft" data-wow-offset="50" data-wow-delay=".20s"> 2. </div>
                    <div class="steps-content wow fadeInLeft" data-wow-offset="50" data-wow-delay=".25s">
                        <h2 class="title-3">İzle</h2>
                        <p class="gray-clr">Nerede olduğunu izleyin </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="font-2 fs-50 wow fadeInLeft" data-wow-offset="50" data-wow-delay=".20s"> 3. </div>
                    <div class="steps-content wow fadeInLeft" data-wow-offset="50" data-wow-delay=".25s">
                        <h2 class="title-3">Teslim Et</h2>
                        <p class="gray-clr">
                            Kuryenizi teslim edin.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="step-img wow slideInRight" data-wow-offset="50" data-wow-delay=".20s"> <img src="~/Images/motoKurye.png" alt="" /> </div>
    </section>
    <!-- /.Steps -->
    <!-- Product Delivery -->
    <section class="prod-delivery pad-120">
        <div class="theme-container container">
            <div class="row">
                <div class="col-md-11 col-md-offset-1">
                    <div class="pt-120 rel-div">
                        <div class="pb-50 hidden-xs"></div>
                        <h2 class="section-title wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s"> <span class="theme-clr"> Hızlı </span> ve <span class="theme-clr"> güvenilir </span>teslimat  </h2>
                        <p class="fs-16 wow fadeInUp" data-wow-offset="50" data-wow-delay=".25s">
                            Yapmanız gereken alış ve teslimat lokasyonlarını belirlemek. <br>
                            Size özel filtrelerden istediğiniz kriterleri seçmek. <br>
                            Size en uygun gelen kuryeyi belirlemek.<br>
                            Bu andan itibaren kargonuz artık güvende.
                        </p>
                        <div class="pb-120 hidden-xs"></div>
                    </div>
                    <div class="delivery-img pt-10">
                        <img alt="" src="~/Images/delivery.png" class="wow slideInLeft" data-wow-offset="50" data-wow-delay=".20s" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.Product Delivery -->
    <!-- Testimonial -->
    @*<section class="testimonial mask-overlay">
            <div class="theme-container container">
                <div class="testimonial-slider no-pagination pad-120">
                    <div class="item">
                        <div class="testimonial-img darkclr-border theme-clr font-2 wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">
                            <img alt="" src="assets/img/block/testimonial-1.png" />
                            <span>,,</span>
                        </div>
                        <div class="testimonial-content">
                            <p class="wow fadeInUp" data-wow-offset="50" data-wow-delay=".25s">
                                <i class="gray-clr fs-16">
                                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla
                                    <br> facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit
                                    <br> augue duis dolore te feugait nulla facilisi.
                                </i>
                            </p>
                            <h2 class="title-2 pt-10 wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s"> <a href="#" class="white-clr fw-900"> Bushra Ahsani </a> </h2>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-img darkclr-border theme-clr font-2">
                            <img alt="" src="assets/img/block/testimonial-1.png" />
                            <span>,,</span>
                        </div>
                        <div class="testimonial-content">
                            <p>
                                <i class="gray-clr fs-16">
                                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla
                                    <br> facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit
                                    <br> augue duis dolore te feugait nulla facilisi.
                                </i>
                            </p>
                            <h2 class="title-2 pt-10"> <a href="#" class="white-clr fw-900"> Bushra Ahsani </a> </h2>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-img darkclr-border theme-clr font-2">
                            <img alt="" src="assets/img/block/testimonial-1.png" />
                            <span>,,</span>
                        </div>
                        <div class="testimonial-content">
                            <p>
                                <i class="gray-clr fs-16">
                                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla
                                    <br> facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit
                                    <br> augue duis dolore te feugait nulla facilisi.
                                </i>
                            </p>
                            <h2 class="title-2 pt-10"> <a href="#" class="white-clr fw-900"> Bushra Ahsani </a> </h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    <!-- /.Testimonial -->
    <!-- Pricing & Plans -->
    @*<section class="pricing-wrap pt-120">
            <div class="theme-container container">
                <span class="bg-text center wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s"> Pricing </span>
                <div class="title-wrap text-center  pb-50">
                    <h2 class="section-title wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">Pricing & plans</h2>
                    <p class="wow fadeInLeft" data-wow-offset="50" data-wow-delay=".25s">See our pricing & plans to get best service</p>
                </div>
                <div class="row">
                    <div class="col-md-4 wow slideInUp" data-wow-offset="50" data-wow-delay=".20s">
                        <div class="pricing-box clrbg-before clrbg-after transition">
                            <div class="title-wrap text-center">
                                <h2 class="section-title fs-36">$50</h2>
                                <p>for single product</p>
                                <div class="btn-1">basic</div>
                            </div>
                            <div class="price-content">
                                <ul class="title-2">
                                    <li> Product Weight: <span class="gray-clr"> &LT; 3kg</span> </li>
                                    <li> Country: <span class="gray-clr">  all</span> </li>
                                    <li> duration: <span class="gray-clr">7-14 days</span> </li>
                                    <li> support: <span class="gray-clr">yes</span> </li>
                                </ul>
                            </div>
                            <div class="order">
                                <a href="#" class="title-1 theme-clr"> <span class="transition"> order now </span> <i class="arrow_right fs-26"></i> </a>
                            </div>
                            <div class="pricing-hover clrbg-before clrbg-after transition"></div>
                        </div>
                    </div>
                    <div class="col-md-4 active white-clr wow slideInUp" data-wow-offset="50" data-wow-delay=".25s">
                        <div class="pricing-box theme-clr-bg">
                            <div class="title-wrap text-center">
                                <h2 class="section-title fs-36">$250</h2>
                                <p>for package product</p>
                                <div class="btn-1 dark">Premium</div>
                            </div>
                            <div class="price-content">
                                <ul class="title-2">
                                    <li> Product Weight: <span class="white-clr">&LT; 3kg</span> </li>
                                    <li> Country: <span class="white-clr">  all</span> </li>
                                    <li> duration: <span class="white-clr">7-14 days</span> </li>
                                    <li> support: <span class="white-clr">yes</span> </li>
                                </ul>
                            </div>
                            <div class="order">
                                <a href="#" class="title-1 white-clr"> <span class="transition"> order now </span> <i class="arrow_right fs-26"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 wow slideInUp" data-wow-offset="50" data-wow-delay=".30s">
                        <div class="pricing-box clrbg-before clrbg-after transition">
                            <div class="title-wrap text-center">
                                <h2 class="section-title fs-36">$150</h2>
                                <p>for multiple product</p>
                                <div class="btn-1">standard</div>
                            </div>
                            <div class="price-content">
                                <ul class="title-2">
                                    <li> Product Weight: <span class="gray-clr">&LT; 3kg</span> </li>
                                    <li> Country: <span class="gray-clr">  all</span> </li>
                                    <li> duration: <span class="gray-clr">7-14 days</span> </li>
                                    <li> support: <span class="gray-clr">yes</span> </li>
                                </ul>
                            </div>
                            <div class="order">
                                <a href="#" class="title-1 theme-clr"> <span class="transition"> order now </span> <i class="arrow_right fs-26"></i> </a>
                            </div>
                            <div class="pricing-hover clrbg-before clrbg-after transition"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    <!-- /.Pricing & Plans -->
    <!-- Contact us -->
    @*<section class="contact-wrap pad-120">
            <span class="bg-text wow fadeInLeft" data-wow-offset="50" data-wow-delay=".20s"> Contact </span>
            <div class="theme-container container">
                <div class="row">
                    <div class="col-md-6 col-sm-8">
                        <div class="title-wrap">
                            <h2 class="section-title wow fadeInLeft" data-wow-offset="50" data-wow-delay=".20s">contact us</h2>
                            <p class="wow fadeInLeft" data-wow-offset="50" data-wow-delay=".20s">Get in touch with us easiky</p>
                        </div>
                        <ul class="contact-detail title-2">
                            <li class="wow slideInUp" data-wow-offset="50" data-wow-delay=".20s"> <span>uk numbers:</span> <p class="gray-clr"> +001-2463-957 <br> +001-4356-643 </p> </li>
                            <li class="wow slideInUp" data-wow-offset="50" data-wow-delay=".25s"> <span>usa numbers:</span> <p class="gray-clr"> +001-2463-957 <br> +001-4356-643 </p> </li>
                            <li class="wow slideInUp" data-wow-offset="50" data-wow-delay=".30s"> <span>Email address:</span> <p class="gray-clr"> support@go.com <br> info@go.com </p> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>*@
    <!-- /.Contact us -->

</article>
<script type="text/javascript">
    /**
     * Niye pure JS yazıyon pure js ne hocam ben öyle bişey yazmıyorum :D
     * of ulen :-D
     * */



</script>