
@{
    ViewBag.Title = "MyAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Content Wrap -->
<link href="~/Content/Css/Account.css" rel="stylesheet" />
<section class="banner mask-overlay pad-120 white-clr" style="padding-bottom: 0px; padding-top: 0px;">
    <div class="grey" style="padding:0px; margin-top:2%;">
        <div class="container">
            <div class="topheader">
                <h1 style="text-align: left;">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit; color: white;">
                            Kayıt
                        </font>
                    </font>
                </h1>
                <div class="breadcrumbs" style="float:left;">
                    <ul class="list-inline">
                        <li>
                            <a href="Index">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        Anasayfa
                                    </font>
                                </font>
                            </a>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    /
                                </font>
                            </font>
                        </li>
                        <li>
                            <span class="current">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        Kayıt
                                    </font>
                                </font>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="pad-50 visible-lg"></div>
</section>

<div class="section white page-content" id="MyAccount">
    <div class="container">
        <div id="content" class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="post-contents">
                <div class="woocommerce">
                    <div class="woocommerce-notices-wrapper">
                    </div>
                    <h2>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Kayıt Ol
                            </font>
                        </font>
                    </h2>
                    <form class="woocommerce-form woocommerce-form-login register" method="post">
                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                            <label for="username">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Kullanıcının adı - soyadı &nbsp; </font>
                                </font><span class="required">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            *
                                        </font>
                                    </font>
                                </span>
                            </label>
                            <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="username" id="username" autocomplete="username" value="">
                        </p>
                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                            <label for="username">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Telefon Numarası&nbsp; </font>
                                </font><span class="required">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            *
                                        </font>
                                    </font>
                                </span>
                            </label>
                            <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="phone" id="phone" autocomplete="phone" value="">
                        </p>
                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                            <label for="username">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Türkiye Cumhuriyeti kimlik numarası&nbsp; </font>
                                </font><span class="required">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            *
                                        </font>
                                    </font>
                                </span>
                            </label>
                            <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="tc" id="tc" autocomplete="tc" value="">
                        </p>
                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                            <label for="username">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">E-posta adresi&nbsp; </font>
                                </font><span class="required">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            *
                                        </font>
                                    </font>
                                </span>
                            </label>
                            <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="email" id="email" autocomplete="email" value="">
                        </p>
                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                            <label for="password">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        Şifre&nbsp;
                                    </font>
                                </font>
                                <span class="required">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            *
                                        </font>
                                    </font>
                                </span>
                            </label>
                            <input class="woocommerce-Input woocommerce-Input--text input-text" type="password" name="password" id="password" autocomplete="current-password">
                        </p>
                        <p class="form-row">
                            <input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce" value="38efa7f48d">
                            <input type="hidden" name="_wp_http_referer" value="/themes/gocourierwp/my-account/">
                            <br />
                            <button style="background-color:#F5AB35;" type="submit" class="woocommerce-button button woocommerce-form-login__submit" name="login" value="Login">
                                <font style="vertical-align: inherit; color:white ">
                                    <font style="vertical-align: inherit;">
                                        Kaydol
                                    </font>
                                </font>
                            </button>
                            <br /><br />
                        </p>
                        @*<p class="woocommerce-LostPassword lost_password">
            <a href="http://event-theme.com/themes/gocourierwp/my-account/lost-password/">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                        Şifreni mi unuttun?
                    </font>
                </font>
            </a>
        </p>*@
                    </form>
                </div>
            </div>
        </div>
        <div id="sidebar" class="col-md-3 col-sm-12 col-xs-12">

        </div>
    </div>
</div>
<!-- Content Wrap -->
